/*----------------------------------
            #Google Fonts#
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/*---------------------------------- 
            #Common Style#
 ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

/*---------------------------------- 
          #Header Top Part#
------------------------------------*/
header {
  background: #fff9f4;
}

.header-top {
  padding-top: 2rem;
}

.navbar-brand img {
  width: 291.11px;
  height: 39.27px;
}

.menu-item {
  margin-left: 55%;
}

.header-top .menu-item li a {
  color: #3c3c3c;
  font-size: 1rem;
  width: 6.2rem;
}

/* -------------------------------- 
         #Hero-Section#
---------------------------------- */
.hero-part {
  margin-top: 6.25rem;
  padding-bottom: 7.8125rem;
}

#hero-shoe img {
  width: 407px;
  height: 407px;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 700;
}

#hero-content-h1 {
  color: #fa804c;
}

.hero-content p {
  color: #3e3e3e;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.7rem;
}

.btn {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  color: #fff;
  border: 0;
  width: 170px;
  height: 60px;
}

.btn span {
  margin-right: 8px;
}

/*----------------------------------
          #Shoes-Part#
----------------------------------*/
.shoes {
  margin-top: 50px;
  margin-bottom: 90px;
}

.shoes h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #363958;
  margin-bottom: 30px;
}

.shoes-card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
}

.shoes-card .card .card-body h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.shoes-card .card .card-body p {
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  color: #3e3e3e;
}

.card-inner-image {
  background: #f1f1f1;
  border-radius: 20px;
  height: 311px;
  width: 93%;
  height: auto;
}

.card-inner-image img {
  width: 236px;
  height: 262px;
}

#dollar-number {
  color: #fa804c;
  font-weight: 900;
  font-size: 2.25rem;
}

.body-inner-content {
  padding: 20px;
}

#color-off {
  background-color: #fff;
}

/*--------------------------------
          #Footer-Part#
--------------------------------- */
footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.perfect-fit {
  /* width: 489px;
  height: 135px; */
  width: 75%;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.perfect-fit img {
  width: 78px;
  height: 82px;
}

.perfect-fit h3 {
  font-weight: 700;
  color: #363958;
  font-size: 1.5rem;
}

.perfect-fit p {
  line-height: 1.6rem;
  color: #3e3e3e;
  font-weight: 400;
  margin-top: 1rem;
}